#root, #gameroot{
    -fx-background-image: url("../../image_assets/board.png");
    -fx-background-color: transparent;
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#logo{
    -fx-image: url("../../image_assets/icon.png");
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#scrollPane{
    -fx-background-color: transparent;
}

#unoButton{
    -fx-background-color: transparent;
    -fx-background-image: url("../../image_assets/icon.png");
    -fx-background-size:100% 100%;
    -fx-border-radius: 40, 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, rgba(198,180,0,0.5), 30, 0.5, 0, 0);

}

#unoButton:hover{
    -fx-background-color: rgba(198,180,0,0.5);
}

#unoButton:pressed{
    -fx-background-color: rgba(198,180,0,0.9);
}

#gridColorChoose{
    -fx-border-radius: 40, 40;
    -fx-effect: dropshadow(three-pass-box, rgba(198,180,0,0.5), 30, 0.7, 0, 0);
}

#redChoose{
    -fx-background-color: red;
}

#redChoose:pressed{
    -fx-background-color: rgba(255,0,0,0.3);
}

#blueChoose{
    -fx-background-color: blue;
}

#blueChoose:pressed{
    -fx-background-color: rgba(0,0,255,0.3);
}

#greenChoose{
    -fx-background-color: green;
}

#greenChoose:pressed{
    -fx-background-color: rgba(0,128,0,0.3);
}

#yellowChoose{
    -fx-background-color: yellow;
}

#yellowChoose:pressed{
    -fx-background-color: rgba(255,255,0,0.3);
}